<h2 class=" pb-5 pt-20 text-4xl ml-40">Edit item</h2>
<section class="form mx-40 my-10 ">
  <%= form_with url: menu_item_path(menu_item.id) ,method: "put" do |form|%>
    <p> <%= form.label :name, "Item name" %></p>
    <%= form.text_field :name ,class:"form-input my-4 text-center",value: menu_item.name%>
    <p>  <%= form.label :description, "Description" %></p>
    <%= form.text_area :description, size: "40x4" ,class:"form-input my-4 text-center",value: menu_item.description%>
    <p>  <%= form.label :price, "Price" %></p>
    <%= form.number_field :price ,step: 0.5,class:"form-input my-4 text-center",value: menu_item.price%>
    <%= form.hidden_field :menu_id,:value => menu_id %>
    <div> <%= form.submit "Update",class:"form-btn my-5"%></div>
  <% end %>
</section>
