<h2 class="text-center">Welcome new customer!</h2>
<section class="form mx-40 my-10">
  <%= form_with url: users_path do |form| %>
    <p >Name </p>
    <%= form.text_field :name ,class:"form-input my-4" %>
    <p>Email </p>
    <%= form.email_field :email ,class:"form-input my-4" %>
    <p>Password </p>
    <%= form.password_field :password,class:"form-input my-4" %>
    <div><%= form.submit "Signup",class:"form-btn my-5" %></div>
  <% end %>
</section>
