<!DOCTYPE html>
<html>
  <head>
    <title>MyCMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class=" fixed flex flex-col bg-black min-h-full text-white text-center ">
      <h1 class="m-5">myCMS</h1>
      <% if @current_user %>
        <p class=" text-base p-8">Logged in as: <%= @current_user.name.capitalize %></p>
        <%= link_to "Signout",destroy_sessions_path ,method: "delete",class: "py-4 px-8 text-base mx-4" %>
      <% end %>
    </div>
    <div class="max-w-5xl flex  ml-60 flex-col align-items-center justify-center ">
      <section class="m-4 text-red-600 text-center">
        <% if flash[:error] %>
          <p><%= flash[:error] %></p>
        <% end %>
        <% if flash[:notice] %>
          <p ><%= flash[:notice] %></p>
        <% end %>
      </section>
      <%= yield %>
    </div>
  </body>
</html>
