<!DOCTYPE html>
<html>
  <head>
    <title>MyCMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class=" fixed flex flex-col bg-black min-h-full text-white text-center ">
      <% if @current_user %>
        <%if @current_user.role=="owner" %>
          <%= link_to "myCMS" ,owner_path ,class:"m-5 text-5xl font-black" %>
        <% else %>
          <%= link_to "myCMS" ,customer_path ,class:"m-5 text-5xl font-black" %>
        <% end %>
        <p class=" text-base py-8 ">Logged in as:
          <br>
          <%= @current_user.name.capitalize %></br>
        (<%= @current_user.role%>)</p>
      <%if @current_user.role=="customer" %>
        <%= link_to "Your orders",orders_path, class: "py-4 px-8 text-base mx-4 underline mt-auto" %>
        <%= link_to image_tag("https://img.icons8.com/cute-clipart/64/000000/shopping-cart-loaded.png", alt: 'Cart-icon'),cart_path,class:"mx-auto mt-auto "%>
      <%else %>
        <%= link_to "All orders",orders_path ,class: "py-4 px-8 text-base mx-4 underline mt-auto" %>
      <% end %>
      <%= link_to "Signout",destroy_sessions_path ,method: "delete",class: "btn py-4 px-8 text-base mx-4 mt-auto mb-4" %>
    <%else %>
      <%= link_to "myCMS" ,root_path ,class:"m-5 text-5xl font-black" %>
    <%end%>
  </div>
  <div class="max-w-5xl flex  ml-60 flex-col align-items-center justify-center ">
    <section class="m-10  text-center">
      <% if flash[:error] %>
        <p class="text-red-600"><%= flash[:error] %></p>
      <% end %>
      <% if flash[:notice] %>
        <p class="text-green-600"><%= flash[:notice] %></p>
      <% end %>
    </section>
    <%= yield %>
  </div>
</body>
</html>
